extends layouts/login-layout.pug 

block content 
    .loginContainer 
      h1 LOGIN 
      form(method="post")

            p.errorMessage #{errorMessage}
            input(type="text", name="logUserName",placeholder="Username or email",
            value="logUserName",required="")        
            input(type="text", name="logPassword",placeholde
            r="Username or email",placeholder="enter the password",required="") 
            input(type="submit",value="login")
            br
            a(href="/register") Need an account? Register here.