body{
    /* background-color: #7BD3EA; */
    background-color:#0099ff ;
}
.wrapper{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.loginContainer{
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border:1px solid #dedede;
    text-align: center;
    background-color: white;
    /* box-shadow: 0 1px 4px rgba(0,0,0,0.3); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-box-shadow:rgba(0,0,0,0.35) 0px 5px 15px; */
    /* if you put this code it will work all browsers */

    /* justify-content: center; */
}
form{
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #dedede;
    background-color: #f2f2f2 ; /* grey color very useful */
}
input[type="submit"]{
    background-color: #0099ff;
    color:#fff;
    border:none;
    border-radius:2px;
    margin-top:10px;

}
a{
    text-decoration: none;
}