html{
    scroll-behavior: smooth;
}
:root{
    --blue-color:#1fa2f1;
    --btnhoverbg:#d4edff;
    --spacing:20px;
    --lightgrey:rgb(230,236,240);
    --greytext:rgb(101,119,134);
    --greyButtonText:rgb(0,0,0,0.34);
}
body{
    overflow-x:hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display:none;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color:#74c0fc;
    text-decoration: none;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    /* background-color: red; */
}
*{
    outline: none !important;
}
h1{
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}
nav a{
    color: #212529;
    display: flex;
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    
    
}
button{ 
    background-color: transparent;
    border: none;
    color: var(--greyButtonText);
}
nav .blue
{
    color: var(--blue-color);
}
nav a:hover{
    background-color: #d4edff;
    border-radius: 50%;
    /* color: #74c0fc; */
    
}
.mainSectionContainer{
    padding:0;
    border-left:1px solid rgb(230,236,240);
    border-right:1px solid rgb(230,236,240);
    display: flex;
    flex-direction: column;
       /* background-color: blue; */
}
.titleContainer{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    border-bottom: 1px solid rgb(230,236,240);
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
    flex-shrink:0;
    /* if we didn't put flex shrink it will cause error in safari */
}
.titleContainer h1{
    flex:1;
}

.postFormContainer{
    display: flex;
    padding:var(--spacing);
    border-bottom: 10px solid rgb(230,236,240);
    flex-shrink: 0;
}
.userImageContainer {
    /* background-color: blackn; */
    width: 50px;
    height: 50px;
}
.userImageContainer img {
    width: 100%;
    border-radius:50%;
    background-color: white;
}
.textAreaContainer{
   flex:1;
   padding-left: var(--spacing);
}
.textAreaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 18px;
}
#submitPostButton{
    background-color: #1fa2f1;
    color: white;
    border:none;
    border-radius:14px;
}
#submitPostButton:disabled{
      background-color: #9bd1f9;
}
.post{
    display:flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightgrey);
    flex-shrink: 0;
}
.mainContentContainer{
    flex: 1;
    display: flex;
    /* flex-direction: row; */}
.postContentContainer{
    padding-left:var(--spacing);
    display: flex;
    flex-direction: column;
    flex:1;}
.username,.date{
    color:var(--greytext);
}
.displayName{
    font-weight: bold;
}
.postFooter{
    display: flex;
    align-items:center;
}
.postFooter .postButtonContainer{
    flex:1; 
    display: flex;
}
.postFooter .postButtonContainer button{
    padding: 2px 5px;

}
.header a:hover{
    text-decoration: underline;
}
.header a,
.header span {
    padding-right:5px;
}
.postButtonContainer button:hover{
    background-color: #d4ddff;
    color: var(--blue-color);
    border-radius:50%;
}


