:root{
    --blue-color:#1fa2f1;
    --btnhoverbg:#d4edff;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color:#74c0fc;
    text-decoration: none;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    /* background-color: red; */
}
*{
    outline: none !important;
}
h1{
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}
nav a{
    color: #212529;
    display: flex;
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    
    
}
nav .blue
{
    color: var(--blue-color);
}
nav a:hover{
    background-color: #d4edff;
    border-radius: 50%;
    /* color: #74c0fc; */
    
}
 
.mainSectionContainer{
    padding:0;
    border-left:1px solid rgb(230,236,240);
    border-right:1px solid rgb(230,236,240);
    display: flex;
    flex-direction: column;
       /* background-color: blue; */
}
.titleContainer{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    border-bottom: 1px solid rgb(230,236,240);
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
    flex-shrink:0;
    /* if we didn't put flex shrink it will cause error in safari */
}
.titleContainer h1{
    flex:1;
}

.postFormContainer{
    display: flex;
    padding:var(--spacing);
    border-bottom: 10px solid rgb(230,236,240);
    flex-shrink: 0;
}
.userImageContainer {
    /* background-color: blackn; */
    width: 50px;
    height: 50px;
}
.userImageContainer img {
    width: 100%;
    border-radius:50%;
    background-color: white;
}
.textAreaContainer{
   flex:1;
   padding-left: var(--spacing);
}
.textAreaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 18px;
}
#submitPostButton{
    background-color: #1fa2f1;
    color: white;
    border:none;
    border-radius:14px;
}
#submitPostButton:disabled{
      background-color: #9bd1f9;
}


