mixin createPostForm(userLoggedIn) 
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilepic, alt="User's Profile Picture")
        .textAreaContainer 
            textarea#postTextarea(placeholder="what's happening")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post 